/* Importing Google Font of Balthazar */
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

/* PopUp Content Container */
.popUpContainer {
  width: 14rem; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Balthazar', serif;
  background-color: #fff;
}

/* Name Plate Design */
.popUpNamePlate {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#popUpNameFetch {
  color: #000001;
}

#popUpNameCodes {
  color: #425E9D;
}

#popUpLogo {
  width: 4rem;
  margin-bottom: 10px;
}

/* Developer Info Section */
#developerContact {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 10px;
}

#developerHandle {
  text-decoration: none;
  border: none;
  background: none;
  color: blue;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

#developerHandle:hover {
  text-decoration: underline;
}